.mainCarouselStaticContainer {
  width: 700px;
  height: 420px;
  overflow: hidden;
  margin-left: 60px;
  background-color: rgb(255, 255, 255);
}
.divInsideCarousel > div {
  margin: 0px 20px;
  width: 700px;
  height: auto;
}
.sliderElement {
  background-color: rgb(255, 255, 255);
  box-shadow: none;
}
@media only screen and (max-width: 600px) {
  .mainCarouselStaticContainer {
    border-radius: 5px;
    width: 80vw;
    height: 35%;
    margin-left: 0;
  }
}
@media only screen and (max-width: 300px) {
  .mainCarouselStaticContainer {
    width: 78%;
    height: 24%;
  }
}
