.policeSizeContact {
  font-size: 43px;
}
@media only screen and (max-width: 600px) {
  .policeSizeContact {
    text-align: center;
    font-size: 23px;
  }
  .policeSizeApropos {
    text-align: center;
  }
}
