/**/
/**/
@font-face {
  font-family: "karla";
  src: url("../fonts/Karla-VariableFont_wght.ttf");
}
.appStaticPageContainer {
  width: 100vw;
  height: auto;
}
.appStaticPage {
  width: 100%;
  height: auto;
}
.myApp {
  width: 100%;
}
/*======================================header*/
.header {
  width: 100%;
  height: 380px;
  background-image: url("../public/header/backgroundPlongeur.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.nav {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.unorderedListMenuContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 500px;
  height: 50px;
  list-style: none;
  margin-right: 80px;
}
.menuList {
  border-radius: 4px;
  padding: 7px 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-shadow: 1px 1px black;
}
.accueilBTN,
.contactBTN,
.aproposBTN,
.activiteBTN {
  border: 2px solid rgb(0, 72, 255);
  background-color: rgba(0, 0, 0, 0.216);
  padding: 5px 16px;
  transition: 0.1s;
}
.accueilBTN:hover,
.contactBTN:hover,
.aproposBTN:hover,
.activiteBTN:hover {
  transition: 0.1s;
  box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.36);
  padding: 5px 16px;
}
/*=======================================titre*/
.h1 {
  margin-left: 100px;
  font-family: sans-serif;
  font-size: 30px;
}
/*===========================================headerDescription*/
/*=========================== all path names*/
.headerDescriptionContact {
  width: 100%;
  height: 270px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  left: -900px;
}
.headerDescription {
  width: 100%;
  height: 270px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
:is(.headerDescription, .headerDescriptionContact) > p {
  width: fit-content;
  max-width: 900px;
  margin-left: 100px;
  padding: 10px 10px;
  font-size: 35px;
  color: white;
  font-family: "karla";
  font-weight: 500;
  background-image: linear-gradient(
    to bottom right,
    rgba(0, 166, 255, 0.081),
    rgba(0, 166, 255, 0.081),
    rgba(0, 166, 255, 0.464)
  );
  text-shadow: 1px 1px black;
  box-shadow: 30px 30px 30px -20px rgba(0, 0, 0, 0.376);
}
/*================================================*/
.mobileMenuBTN,
.mobileMenuList {
  display: none;
}
/*============================================================= mobile version*/
@media only screen and (max-width: 600px) {
  /*==================================== mobile scroll menu*/
  .mobileMenuBTN {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    height: 40px;
    width: 40px;
    margin: 15px;
    border-radius: 2px;
    border: none;
    box-shadow: 3px 3px 10px -1px rgba(0, 0, 0, 0.419);
    background-color: rgb(220, 220, 220);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 101;
  }
  .mobileMenuListContainer {
    position: fixed;
    top: 0;
    right: -500px;
    background-color: rgba(2, 7, 23, 0.919);
    width: 80vw;
    height: 100vh;
    z-index: 100;
    display: flex;
    justify-content: flex-start;
  }
  .mobileUnorderedListMenuContainer {
    width: 90%;
    height: 100vh;
    margin-top: 80px;
    flex-direction: column;
    display: flex;
    align-items: center;
    color: white;
    list-style: none;
    padding: 0;
  }
  .mobileMenuList {
    background-color: rgba(58, 58, 58, 0.307);
    margin: 8px 0px;
    border-radius: 3px;
    color: white;
    list-style: none;
    width: 220px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /*============================= mobile header layout*/
  .myApp {
    width: 100vw;
  }
  .unorderedListMenuContainer {
    display: none;
  }
  .header {
    width: 100%;
    height: 120px;
  }
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .h1 {
    color: white;
    text-shadow: 1px 1px black;
    margin-left: 0;
    font-size: 50px;
  }
  .headerDescription {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .headerDescription > p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 18px;
    font-family: karla;
    font-weight: 700;
    width: 90%;
    height: 80%;
    margin-left: 0;
    background-image: none;
    text-shadow: none;
    box-shadow: none;
  }
}
@media only screen and (max-width: 300px) {
  .headerDescription {
    height: 300px;
  }
}
